/*REQUIREMENTS:
-> Q3 and Q5 uses four or more relations.
-> Q1 and Q6 uses outer joins. 
-> Q1 uses an aggregate function.
-> Q2, Q3 and Q5 uses subqueries in a non-trivial manner.
    -> Q2 uses set comparison
-> Q1 and Q4 uses grouping.
    -> Q4 uses having
-> Q3 and Q5 uses set operations.
*/
